{% extends './layout.html' %}
{% block content %}
<div class='row'>
      <div class='col-md-8'>
            [[map]]
      </div>

      <div class='col-md-4'>
            <h4>Hotels</h4>
            <select>
                  {% for hotel in hotels%}

                        <option>{{hotel.name}}</option>

                  {% endfor %}
            </select>

            <h4>Restaurants</h4>
            <select>
                  {% for restaurant in restaurants%}

                        <option>{{restaurant.name}}</option>

                  {% endfor %}
            </select>

            <h4>Activities</h4>
            <select>
                  {% for act in activities%}

                        <option>{{act.name}}</option>

                  {% endfor %}
            </select>

            <div>
            [[Planner]]
            </div>
      </div>
</div>
{% endblock %}
