@import 'helpers';

// General Layout
#map-canvas {
    height: 100vh;
    width: 100%;
}

.container#content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}


body {
    background-color: lighten(#9A8755, 30%);
    padding-top: 50px; // navbar-fixed-top overlaps with page content. navbar is 50px, so I need to push body down the same amount
}

#right-pane {
    margin: auto;
}

// Nav-bar
.navbar-inverse, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  background-color: lighten(#9A8755, 0%);
  color: darken(#DFE7F0, 10%);
  border: none;
}

#top-bar {
    margin-bottom: 0px;
}

// Buttons
button.btn-circle {
    @include border-radius(50px);
}

button.btn.glyphicon-remove {
    font-size: .9em;
}


// Day Box
#day-box {
    width: 9vw;
    margin: auto;
    // text-align: center;
    border: 1px solid darken(#9A8755, 10%);
    @include border-radius(5px);
    color: darken(#9A8755, 20%);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    @include clearfix();
}

#days {
    font-size: 20px;
    font-weight: bold;
}

#day-box-btn-wrapper {
    padding-top: 3px;
}

// #day-box>h3 {
//     margin-top: 10px;
// }

// Panels
#top-panel, #bottom-panel {
    margin-top: 10px;
    margin-bottom: 30px;
}

.panel-default>.panel-heading {
    background-color: darken(#9A8755, 20%);
}

.panel-default>.panel-heading .badge {
    background-color: darken(#9A8755, 20%);
    border: 1px solid darken(#DFE7F0, 30%);
    color: darken(#DFE7F0, 30%);
}

.panel-default>.panel-heading .badge.active {
    background-color: darken(#DFE7F0, 30%);
    border: 1px solid darken(#DFE7F0, 30%);
    color: darken(#9A8755, 20%);
}

.panel-body {
    background-color: #f2ece8;
    // @include border-radius(10px);
}

.panel{
    @include border-radius(8px);
    border: none;
}

.panel-heading {
    @include border-radius-top(8px);
}

.panel-body {
    @include border-radius-bottom(8px);
}

#top-panel>.panel-body {
    @include border-radius(8px);
}
// Top Panel
// #top-panel {
//     @include border-radius(10px);
// }



// Bottom Panel

#bottom-panel h5 {
    color: lighten(black, 65%);
}

